<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Friends of Mine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>Bienvenue !</h1>

<h2><i>Friends of Mine</i> - index</h2>

<p>Que voulez-vous consulter ?</p>
<ol>
    <li><a href="activites.html" th:href="@{/activites}">Liste des activités</a></li>
    <li><a href="utilisateurs.html" th:href="@{/utilisateurs}">Liste des utilisateurs</a></li>
</ol>

</body>

</html>
